fastapi==0.70.0
graphene==2.1.9
graphene-sqlalchemy==2.3.0
graphql-core==2.3.2
graphql-relay==2.0.1
mypy-extensions==0.4.3
mysqlclient==2.0.3
passlib==1.7.4
pathspec==0.9.0
platformdirs==2.4.0
promise==2.3
psycopg2==2.9.1
pyasn1==0.4.8
pycparser==2.20
pydantic==1.8.2
PyMySQL==1.0.2
python-dotenv==0.19.1
python-jose==3.3.0
python-multipart==0.0.5
regex==2021.10.8
singledispatch==3.7.0
SQLAlchemy==1.4.25
SQLAlchemy-Utils==0.37.8
starlette==0.16.0
typing-extensions==3.10.0.2
uvicorn==0.15.0

